spring:
  application:
    name: event_management
  profiles:
    active: local
  datasource:
    url: ${EVENT_DB_URL}
    username: ${EVENT_DB_USERNAME}
    password: ${EVENT_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8081

user-service:
  url: ${USER_SERVICE_URL}

resilience4j:
  circuitbreaker:
    instances:
      userService:
        registerHealthIndicator: true
        failureRateThreshold: 10
        minimumNumberOfCalls: 5
        slidingWindowSize: 10
        waitDurationInOpenState: 10s
        permittedNumberOfCallsInHalfOpenState: 3

  retry:
    instances:
      userService:
        maxAttempts: 3
        waitDuration: 2s

